$off-white: #F4F5F7;
$blue-ink: #172B4D;

$jet-black: #13141a;
$flat-black: #1f2330;
$flat-lavender: #6872FF;
$flat-purple: #9A58B9;
$flat-blue: #3598DA;
$flat-green: #30CB71;
$flat-teal: #1ccb9e;
$flat-yellow: #F1C40E;
$flat-orange: #f86000;
$flat-red: #E84C3D;

$hot-pink: #f4244e;
$cool-blue: #5C9DED;
$good-vibes: #42CA6F;
$cartoon-shadow: #bac7d6;
$light-gray: #d8d9db;
$gray: #939aab;
$dark-gray: #32343a;
