@import 'colors';

.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

.iconButton {
  display: inline-block;
  margin: 0;
  padding: 0;
}