@import './colors.scss';

.messageContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  height: 100vh;
}

.messageWrapper {
  margin: 5px;
  position: relative;
  box-sizing: border-box;
  max-width: 60%;
}

.message {
  border-radius: 1em;
  padding: 5px 10px;
  color: $blue-ink;
}

.leftMessage {
  align-self: flex-start;
  .message {
    background-color: $light-gray;
  }
}

.rightMessage {
  align-self: flex-end;
  .message {
    background-color: $hot-pink;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .messageWrapper {
    max-width: 90%;
  }
}