@import '../colors';

.messageContainer {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  padding: 20px;
}

.messageWrapper {
  margin: 5px;
  position: relative;
  box-sizing: border-box;
  max-width: 60%;
}

.message {
  display: inline-flex;
  border-radius: 1em;
  flex-direction: column;
  overflow: hidden;
  .messageBody {
    padding: 5px 10px;
  }
  color: $blue-ink;
}

.leftMessage {
  align-self: flex-start;
  text-align: left;
  .message {
    border-width: 1px;
    border-style: solid;
    border-color: $light-gray;
    background-color: $light-gray;
  }
}

.rightMessage {
  align-self: flex-end;
  text-align: right;
  .message {
    background-color: $hot-pink;
    color: white;
  }
}

.messageContent {
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.messageCreatedAt {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 0.6em;
  color: $cartoon-shadow;
}

.replyInProgress {
  font-weight: 600;
  font-size: 0.8em;
  color: $gray;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;
}

.messageOptionWrapper {
  background-color: white;
  text-align: center;
  .messageOption {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $light-gray;
    cursor: pointer;
    padding: 5px;
  }
  .messageOption:hover, .messageOptionSelected {
    transition: color 0.2s ease-in-out;
    color: $flat-lavender;
  }
  .messageOption:nth-last-of-type(1) {
    border-bottom-color: transparent;
  }
  .messageOptionSelected, .messageOptionDisabled {
    cursor: default;
  }
  .messageOptionDisabled, .messageOptionDisabled:hover {
    color: $light-gray;
  }
}

@media only screen and (max-width: 600px) {
  .messageWrapper {
    max-width: 90%;
  }
}