@import '../colors';

.messageContainer {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}

.messageWrapper {
  margin: 5px;
  position: relative;
  box-sizing: border-box;
  max-width: 60%;
}

.message {
  display: inline-flex;
  border-radius: 1em;
  padding: 5px 10px;
  color: $blue-ink;
}

.leftMessage {
  align-self: flex-start;
  text-align: left;
  .message {
    background-color: $light-gray;
  }
}

.rightMessage {
  align-self: flex-end;
  text-align: right;
  .message {
    background-color: $hot-pink;
    color: white;
  }
}

.messageContent {
  transition: 1s ease-in-out;
}

.messageCreatedAt {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 0.6em;
  color: $cartoon-shadow;
}

.replyInProgress {
  font-weight: 600;
  font-size: 0.8em;
  color: $gray;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;
}

@media only screen and (max-width: 600px) {
  .messageWrapper {
    max-width: 90%;
  }
}