@import '../colors';

.messageFormWrapper {
  display: flex;
}

.messageInputWrapper {
  box-sizing: border-box;
  resize: none;
  border: 1px solid $light-gray;
  color: $blue-ink;
  background-color: transparent;
  flex: 1;
  border-radius: 1em;
  font-size: 1em;
  line-height: 1em;
  padding: 5px 10px;
}

.messageInputWrapper::placeholder {
  color: $gray
}